In [ ]:
import keras
from keras import layers
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def load_covtype_dataset():
    '''Downloads the Cover Type dataset from UCI repository, returning a file handle'''
    CURRENT_DIR = os.getcwd()
    COVTYPE_FILENAME = 'covtype.data'
    COVTYPE_DATA_PATH = os.path.join(CURRENT_DIR, COVTYPE_FILENAME)
    COVTYPE_URL = 'https://archive.ics.uci.edu/ml/machine-learning-databases/covtype/covtype.data.gz'
    if os.path.isfile(COVTYPE_DATA_PATH):
        print('Using local cached copy in', COVTYPE_DATA_PATH)
    else:
        print('Dataset not found locally. Downloading in', COVTYPE_DATA_PATH)
        with urllib.request.urlopen(COVTYPE_URL) as response:
            with gzip.GzipFile(fileobj=response) as uncompressed, open(COVTYPE_DATA_PATH, 'wb') as out_file:
                file_header = uncompressed.read()
                out_file.write(file_header)
    return COVTYPE_DATA_PATH

In [ ]:
covtype_file = load_covtype_dataset()

Using local cached copy in /content/covtype.data

In [ ]:
df_covtype = pd.read_csv(covtype_file, header=None)

In [ ]:
def features_renaming(df_covtype):
    '''Rename each column to meaningful labels'''
    first_fourteen_old_feature_names = df_covtype.columns[np.arange(0,14)]
    first_fourteen_new_feature_names = ['Elevation', 'Aspect', 'Slope',
                                        'Horizontal_Distance_To_Hydrology',
                                        'Vertical_Distance_To_Hydrology',
                                        'Horizontal_Distance_To_Roadways',
                                        'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm',
                                        'Horizontal_Distance_To_Fire_Points',
                                        'Wilderness_Area_1', 'Wilderness_Area_2',
                                        'Wilderness_Area_3', 'Wilderness_Area_4']
    old_to_new_name_mapping = dict(zip(first_fourteen_old_feature_names, first_fourteen_new_feature_names))
    df_covtype.rename(columns=old_to_new_name_mapping, inplace=True)
    soil_type_old_feature_names = df_covtype.columns[np.arange(14,54)]
    soil_type_new_feature_names = ['Soil_Type_' + str(i) for i in np.arange(1,41)]
    old_to_new_name_mapping = dict(zip(soil_type_old_feature_names, soil_type_new_feature_names))
    df_covtype.rename(columns=old_to_new_name_mapping, inplace=True)
    df_covtype.rename(columns={54: 'Cover_Type'}, inplace=True)
    return df_covtype

In [ ]:
df_covtype = features_renaming(df_covtype)
df_covtype.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area_1,Wilderness_Area_2,Wilderness_Area_3,Wilderness_Area_4,Soil_Type_1,Soil_Type_2,Soil_Type_3,Soil_Type_4,Soil_Type_5,Soil_Type_6,Soil_Type_7,Soil_Type_8,Soil_Type_9,Soil_Type_10,Soil_Type_11,Soil_Type_12,Soil_Type_13,Soil_Type_14,Soil_Type_15,Soil_Type_16,Soil_Type_17,Soil_Type_18,Soil_Type_19,Soil_Type_20,Soil_Type_21,Soil_Type_22,Soil_Type_23,Soil_Type_24,Soil_Type_25,Soil_Type_26,Soil_Type_27,Soil_Type_28,Soil_Type_29,Soil_Type_30,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,5

In [ ]:
df_covtype_headers = df_covtype.columns.values.tolist()
features_new_dtype_list = list()
for i in range(len(df_covtype_headers)):
    if i == 3 or i == 4:
        features_new_dtype_list.append('float32')
    elif i < 10:
        features_new_dtype_list.append('int16')
    else:
        features_new_dtype_list.append('uint8')
features_new_dtype_mapping = dict(zip(df_covtype_headers,
                                      features_new_dtype_list))
df_covtype = df_covtype.astype(dtype=features_new_dtype_mapping)

In [ ]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None

In [ ]:
df_covtype_feature = df_covtype.iloc[:,0:-1]

In [ ]:
df_covtype_feature.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area_1,Wilderness_Area_2,Wilderness_Area_3,Wilderness_Area_4,Soil_Type_1,Soil_Type_2,Soil_Type_3,Soil_Type_4,Soil_Type_5,Soil_Type_6,Soil_Type_7,Soil_Type_8,Soil_Type_9,Soil_Type_10,Soil_Type_11,Soil_Type_12,Soil_Type_13,Soil_Type_14,Soil_Type_15,Soil_Type_16,Soil_Type_17,Soil_Type_18,Soil_Type_19,Soil_Type_20,Soil_Type_21,Soil_Type_22,Soil_Type_23,Soil_Type_24,Soil_Type_25,Soil_Type_26,Soil_Type_27,Soil_Type_28,Soil_Type_29,Soil_Type_30,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40
0,2596,51,3,258.0,0.0,510,221,232,148,6279,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,2590,56,2,212.0,-6.0,390,220,235,151,6225,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,2804,139,9,268.0,65.0,3180,234,238,135,6121,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,2785,155,18,242.0,118.0,3090,238,238,122,6211,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
4,2595,45,2,153.0,-1.0,391,220,234,150,6172,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
df_covtype_label = df_covtype.iloc[:,-1:]

In [ ]:
df_covtype_label.head()

   Cover_Type
0           5
1           5
2           2
3           2
4           5

In [ ]:
from sklearn.preprocessing import StandardScaler

StdScl = StandardScaler()

df_covtype_feature.iloc[:,0:10] = StdScl.fit_transform(df_covtype_feature.iloc[:,0:10])

In [ ]:
classifier = keras.Sequential()
classifier.add(layers.Dense(128,activation='relu',input_shape=(54,)))
classifier.add(layers.Dense(64,activation='relu'))
classifier.add(layers.Dense(32,activation='relu'))
classifier.add(layers.Dense(8,activation='softmax'))

In [ ]:
classifier.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 128)               7040

 dense_14 (Dense)            (None, 64)                8256

 dense_15 (Dense)            (None, 32)                2080

 dense_16 (Dense)            (None, 8)                 264

=================================================================
Total params: 17,640
Trainable params: 17,640
Non-trainable params: 0
_________________________________________________________________

In [ ]:
classifier.compile(optimizer='adam',loss='sparse_categorical_crossentropy',metrics=['accuracy'])

In [ ]:
history = classifier.fit(df_covtype_feature, df_covtype_label, epochs=10, batch_size=5)

Epoch 1/10
116203/116203 [==============================] - 232s 2ms/step - loss: 0.2640 - accuracy: 0.8969
Epoch 2/10
116203/116203 [==============================] - 226s 2ms/step - loss: 0.2671 - accuracy: 0.8973
Epoch 3/10
116203/116203 [==============================] - 226s 2ms/step - loss: 0.2693 - accuracy: 0.8970
Epoch 4/10
116203/116203 [==============================] - 228s 2ms/step - loss: 0.2704 - accuracy: 0.8967
Epoch 5/10
116203/116203 [==============================] - 230s 2ms/step - loss: 0.2718 - accuracy: 0.8961
Epoch 6/10
116203/116203 [==============================] - 228s 2ms/step - loss: 0.2724 - accuracy: 0.8969
Epoch 7/10
116203/116203 [==============================] - 226s 2ms/step - loss: 0.2783 - accuracy: 0.8961
Epoch 8/10
116203/116203 [==============================] - 226s 2ms/step - loss: 0.2773 - accuracy: 0.8954
Epoch 9/10
116203/116203 [==============================] - 225s 2ms/step - loss: 0.2893 - accuracy: 0.8942
Epoch 10/10
116203/116203 [==============================] - 226s 2ms/step - loss: 0.2864 - accuracy: 0.8934